@model RadioCatalog.Models.ImageModel
@{
    ViewBag.Title = "UserProfile";
}
@helper getSchemeText()
{
    if (@Model != null)
    {
        @:value = "@Model.CurrentScheme";
    }
}
<h2>UserProfile</h2>
<!DOCTYPE html>
<html>
    <head>       
        <link rel="stylesheet" type="text/css" title="jquery-ui" href="@Url.Content("~/Content/themes/smoothness/jquery-ui.css")"> 
        <script src="~/Scripts/jquery-ui-1.11.2.min.js"></script>       
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>          
        <script src="~/Scripts/Editor/Editor.js"></script> 
        <script src="~/Scripts/fabric.js"></script> 
        <title>Tabs</title>
        <script>
            $(function () {
                $("#tabs").tabs();
                var width = $(window).width;
                $('#tabs').css('width', width);
            });
        </script>
    </head>
    <body>
        <div id="tabs">
            <ul>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li><a href="#tabs-1">@Resources.UserEditor</a></li>
                }
                @if (Request.IsAuthenticated && (User.IsInRole("Owner") || (User.IsInRole("Admin")) ))
                {
                    <li><a href="#tabs-2">@Resources.AddDetail</a></li>
                }
                @if (Request.IsAuthenticated)
                {
                    <li><a href="#tabs-3">Detail Editor</a></li>
                }
            </ul>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <div id="tabs-1">
                    <h5>@Html.ActionLink(@Resources.RolesAdmin, "Index", "RolesAdmin")</h5>
                    <h5>@Html.ActionLink(@Resources.UsersAdmin, "Index", "UsersAdmin")</h5>
                </div>
            }
                   
            <div id="tabs-3">
                <form id="uploadImg">
                    <input type="file" id="uploadedImg" name="imageLoader"/>
                </form>
                <input type="button" id="addBind" value=@Resources.AddBind name="addBind" onclick="editor.addBinding()"/>
                @using (@Html.BeginForm("Save", "Scheme", FormMethod.Get, new { name="saveImg", id="saveImg" }))
                {
                    <input type="hidden" id="jsonString" name="jsonString" @getSchemeText() /> <!--value="@RadioCatalog.Helpers.HtmlHelper.getSchemeText(@Model)"-->
                    <input type="button" id="save" value=@Resources.Save name="save" onclick="editor.save()" />
                    <input type="button" id="load" value=@Resources.Load name="load" onclick="editor.load()" />
                }
                <canvas id="editor" width="800" height="600" style="border:1px solid #000000;"></canvas>
                <script> editor.init() </script>
            </div>
            <div id="tabs-2">
            </div>
        </div>
    </body>
</html>